.gridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columnOneTwo {
    color: blue;
}

.gridTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.columnTwoOne {
    background-color: red;
}

.columnTwoTwo {
    background-color: blue;
}

.columnTwoThree {
    background-color: yellow;
}

.gridThree {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 500px;
    height: 300px;
}

.rowThreeTwo img {
    width: 500px;
    height: 225px;
    object-fit: cover;
}

.gridFour {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color: green;
}

#doubleRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
}

.gridFive {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
}

#doublePic {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1;
}

#doublePic img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.gridSix {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 500px;
    background-color: lightgray;
}

.text {
    font-family: "Playfair Display", serif;
}